body {
    margin: 2;
    font-family: sans-serif;
    justify-content: center;
}

.weather {
    justify-content: center;
    text-align: center;
}

/* Center the table on the page */
.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 100% of the viewport height */
}


/* Apply styles to the table with class "table" */
.table {
    width: 90%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
}

/* Style the table header (thead) */
.thead {
    background-color: #1b1919af;
}

/* Style table header cells (th) */
.table th {
    text-align: center;
    background-color: #8b91e9;
    padding: 10px;
    border-bottom: 2px solid #333;
    border-top: 1px solid #999;
    border-left: 1px solid #999;
    border-right: 1px solid #999;
}

/* Style table rows (tr) */
.table tr {
    background-color: #fff;
}

/* Style alternating rows for better readability */
.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Style table cells (td) */
.table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

/* Hover effect on rows */
.table tr:hover {
    background-color: #ddd;
}
