{% extends 'base.html' %}

{% block head %}

<title>Motulo</title>

{% endblock %}

{% block body %}
<div class="container-md">
    <div class="row">
        <img class="col img-fluid" style="min-width: 516px;" src="https://www.yr.no/nb/innhold/1-120477/meteogram.svg">
    </div>

    <div class="row">
        <table class=" col table table-striped table-hover table-bordered caption">
            <caption>Last update: {{ last_update }}</caption>
            <thead class="table-primary text-center">
                <tr>
                    <th scope="col">X</th>
                    <th scope="col">ETA/ETD</th>
                    <th scope="col">Ship Name</th>
                    <th scope="col">GT</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
            {% for row in result %}
            <tr>
                <th style="text-align: center;">{{ row[6] }}</th>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
            </tr>
            {% endfor %}
            </tbody>   
        </table>
    </div>
</div>

{% endblock %}