{% extends 'base.html' %}

{% block head %}

<title>Motulo</title>

{% endblock %}

{% block body %}

<div class="container-fluid">

    <nav class="navbar sticky-top navbar-light bg-light justify-content-end">
        <div class="collapse navbar-collapse" id="settings">
            <div class="bg">
                <form action="/karsto" method="get" class="m-3">
                    <input class="form-check-input" type="checkbox" id="her" value="hervikfjorden anchorage" name="dest" {%if "hervikfjorden anchorage" in dest %}checked{% endif %}>
                    <label class="form-check-label" for="her">Hervikfjorden</label>
                    <input class="form-check-input" type="checkbox" id="falk" value="falkeidflaet anchorage" name="dest" {%if "falkeidflaet anchorage" in dest %}checked{% endif %}>
                    <label class="form-check-label" for="falk">Falkeidflaet</label>
                    <input class="form-check-input" type="checkbox" id="wx" value=weather name="wx"{%if "weather" in wx %}checked{% endif %}>
                    <label class="form-check-label" for="wx">Vis værmelding</label>
                    <button class="btn btn-outline-success" type="submit">Ok</button>
                </form>
            </div>
        </div>
        <button class="navbar-toggler col-2" type="button" data-bs-toggle="collapse" data-bs-target="#settings" aria-controls="settings" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <div class="{%if "weather" not in wx %}collapse{% endif %} container" id="weather">
        <div class="row">
          <img class="col img-fluid mx-auto" style="max-width: 700px; justify-content: center;" src="https://www.yr.no/nb/innhold/1-506631/meteogram.svg">
        </div>
    </div>

    <div class="container">
        <div class="container">
            <p style="font-size: smaller;">Sist oppdatert: {{ last_update }} {{ errormsg }}</p>
        </div>
    </div>
    <style>
      @media screen and (max-width: 570px) {
        table {
            font-size: 9px;
        }
      }
    </style>

    <div class="container table-responsive justify-content-center">
        <table class="table table-striped table-hover table-bordered">
            <thead class="table-primary text-center">
                <tr>
                    <th scope="col">X</th>
                    <th scope="col">ETA/ETD</th>
                    <th scope="col">Ship Name</th>
                    <th scope="col">GT</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Tugs</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
            {% for row in result %}
            <tr>
                <th style="text-align: center;">{{ row[6] }}</th>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
                <td style="text-align: center;">{% if row[2] |int < 12000 and row[5] == "Karsto" %} 1
                    {% elif row[2] |int < 30000 and row[5] == "Karsto" %} 2
                    {% elif row[2] |int >= 30000 and row[5] == "Karsto" %} 3
                    {% elif row[2] |int < 12000 and row[4] == "Karsto" %} 1
                    {% elif row[2] |int >= 12000 and row[4] == "Karsto" %} 2
                    {% else %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>   
        </table>
    </div>
</div>

{% endblock %}